body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
}
header {
    background-image: url(image/1080x1920.jfif);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 200px;
    color: white;
    padding: 20px 0;
}
h1 {
    text-align: center;
}
nav {
    text-align: center;
}
nav ul {
    display: flex;
    justify-content: center;
    list-style: none;
    padding: 0;
}
nav a {
    text-decoration: none;
    color: #f0f0f0;
}
nav li {
    margin: 15px;
}
nav a:hover {
    color: antiquewhite;
}
main {
    text-align: center;
    padding: 20px 0;
}
footer {
    background-image: url(image/i.webp);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 100px;
    color: rgb(255, 255, 255);
    text-align: center;
    padding: 50px 0;
}
section {
    padding: 20px 0;
}
.product-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    gap: 20px;
    max-width: 1200px;
    margin: 40px auto;
}
.product-card {
    background-color: white;
    padding: 20px 0;
    border-radius: 20px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}
.product-card img { 
    max-width: 200px;
    border-radius: 15px;
}
.product-card button {
    padding: 10px 20px; 
    border: none;
    color: white;
    border-radius: 15px;
    background-color:#19192f;
    transition: background-color 0.3s, color 0.3s;
}
.product-card button:hover {
    cursor: pointer;
    color: #d00e0e;
    background-color: #2c2c4d; 
}
.catalog-button-wrapper {
    padding: 20px 0;
    margin: 15px 0;
}
.catalog-button-wrapper a {
    padding: 10px 20px;
    background-color: rgb(37, 35, 35);
    border-radius: 15px;
    list-style: none;
    text-decoration: none;
    color: white;
    border: none;
}
.catalog-button-wrapper a:hover {
    color: #d00e0e;
    padding: 10px 20px;
}
.advantages-container {
    padding: 20px 0;
}
.advantages-container img {
    max-width: 100px;
    border-radius: 15px;
}
#about-content p {
    text-align: center;
    padding: 20px 0;
    font-family: Arial, Helvetica, sans-serif;
    max-width: 1500px;
}
#about-content img {
    max-width: 500px;
    height: auto;
    display: block;
    margin: 20px auto;
    border-radius: 15px;
}
#conta
p {
    text-align: center;
    padding: 20px 0;
    font-family: Arial, Helvetica, sans-serif;
    max-width: 1500px;
}

#notification-container {
    position: fixed; 
    top: 20px;
    right: 20px;
    z-index: 1000; 
}
.notification {
    padding: 15px;
    margin-bottom: 10px;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    color: white;
    font-weight: bold;
    opacity: 0.9;
    transition: opacity 0.3s ease-in-out; 
}
.notification.success {
    background-color: #28a745; 
}
.notification.info {
    background-color: #007bff; 
}





